* {
  font-family: Cabin;
  padding: 0px;
  margin: 0px;
}

body {
  background: var(--beige, #eeeeef);
}

.content-header {
  background-color: #10bbd5;
  position: fixed;
  margin-top: -133px;
  width: 1840px;
  height: 72px;
  z-index: 3;
}

hr {
  list-style: none;
  border: none;
}

a {
  text-decoration: none;
}

.nav-menu {
  display: flex;
  width: 1296px;
  height: 40px;
}

/* HEADER */
.logo {
  color: #f8fdfe;
  font-size: 24px;
  margin-top: -30px;
  margin-left: 192px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logo-img {
  margin-top: 22px;
  margin-left: 165px;
}

.balance {
  color: #f8fdfe;
  font-family: Cabin;
  font-size: 16px;
  margin-top: -23px;
  margin-left: 1610px;
  font-style: normal;
  font-weight: 400;
}

.bucket-navigation {
  margin-left: 1670px;
  margin-top: -80px;
}

.bucket-first-item_navigation {
  margin-left: 1677px;
  margin-top: -45px;
}
/* Кошик повинен бути кнопкою (зображення кошику - 
фоновим зображенням, цифра 0 НЕ повинна бути частиною зображення) */
.basket-first_background {
  background-image: url("../img/Vector.svg");
  width: 33px;
  height: 25px;
  position: absolute;
  margin-left: 1665px;
  background-repeat: no-repeat;
  margin-top: -25px;
}

.zero-navigation {
  margin-left: 15px;
  margin-top: 5px;
}
/* Кошик повинен бути кнопкою (зображення кошику - 
фоновим зображенням, цифра 0 НЕ повинна бути частиною зображення) */
.basket_second_background {
  background-image: url("../img/Vectorfirst.svg");
  background-repeat: no-repeat;
  margin-left: 6px;
  margin-top: 3px;
  width: 8x;
  height: 9px;
}
/* Кошик повинен бути кнопкою (зображення кошику - 
фоновим зображенням, цифра 0 НЕ повинна бути частиною зображення) */
.basket_three_background {
  background-image: url("../img/Vectorsecond.svg");
  background-repeat: no-repeat;
  margin-left: 21px;
  margin-top: -9px;
  width: 8x;
  height: 9px;
}

.container-header {
  background-color: #fff;
  z-index: 3;
  position: fixed;
  margin-top: 30px;
  width: 1840px;
  height: 32px;
}

.container-header_ul {
  display: flex;
  list-style: none;
}

.main-li-text_navigation {
  margin-top: 7px;
  margin-left: 165px;
  margin-right: 1080px;
}

.second-li-text_navigation {
  margin-top: 7px;
  margin-left: 40px;
}

/* MAIN */
.main-container {
  margin-top: 20px;
  width: 1840px;
  height: 1200;
}

.prev-text {
  font-family: Cabin;
  z-index: 2;
  margin-top: 133px;
  margin-left: 165px;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
}
/* Сірі смуги після заголовку та в середині карток 
товару повинні бути зроблені за допомогою властивості border */
.prev-line {
  border-bottom: 1px solid #1f1f1f;
  width: 1525px;
  margin-top: 23px;
  margin-left: 165px;
}

/* BOOK CATALOG */

/* FIRST BOOK */
.book-main_container {
  margin-left: 90px; /* 52px */
  margin-top: 24px;
  position: relative; /* Обязательно задайте позицию родителю */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 200px;
}

.book_first {
  width: 306px;
  height: 512px;
  background-color: #fff;
  margin-left: 194px;
  border: 1px solid #ccc;
}

.book_first img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

/* SECOND BOOK */

.book_second {
  width: 306px;
  height: 512px;
  background-color: #fff;
  margin-top: -23px;
  margin-left: -60px;
  border: 1px solid #ccc;
}

.book_second img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

/* THREE BOOK */

.book_three {
  width: 306px;
  height: 512px;
  background-color: #fff;
  margin-top: -23px;
  margin-left: -220px;
  border: 1px solid #ccc;
}

.book_three img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

/* FOUR BOOK */

.book_four {
  width: 306px;
  height: 512px;
  background-color: #fff;
  margin-top: -23px;
  margin-left: -380px;
  border: 1px solid #ccc;
}

.book_four img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

.first-book_text {
  overflow: hidden;
  color: var(--black, #1f1f1f);
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 16px;
  margin-left: 32px;
  font-family: Cabin;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.book_line {
  color: #1f1f1f;
  width: 242px;
  margin-left: 32px;
}

.after-line-text {
  overflow: hidden;
  color: var(--gray, #8e8e8e);
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 32px;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.red-text_price {
  color: #e90000;
  font-family: Cabin;
  font-size: 24px;
  margin-top: 8px;
  margin-left: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}

.book-first_button {
  display: flex;
  width: 242px;
  height: 40px;
  margin-left: 32px;
  margin-top: 16px;
  padding: 8px 24px;
  border: none;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: var(--eggplant, #4c394e);
}

.text-button {
  color: var(--white, #f8fdfe);
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.book-second_button {
  display: flex;
  width: 242px;
  height: 40px;
  margin-left: 32px;
  margin-top: 16px;
  border: none;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 4px;
  background: #4d762d;
}

/* BUTTON HIT */
.container-hit {
  position: absolute;
}

.text-hit-button {
  display: flex;
  width: 20px;
  height: 30px;
  border: none;
  margin-top: 20px;
  margin-left: -200px;
  position: relative;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #4200ff;
}

.text-hit {
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

/* BUTTON OFF */
.container-hit {
  position: absolute;
}

.text-off-button {
  display: flex;
  width: 70px;
  height: 32px;
  border: none;
  margin-top: 11px;
  margin-left: 230px;
  position: relative;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #ea33c0;
}

.text-off {
  color: #f8fdfe;
  text-align: center;
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* NEW BUTTON */
.container-hit {
  position: absolute;
}

.text-new-button {
  display: flex;
  width: 20px;
  height: 30px;
  border: none;
  margin-top: 20px;
  margin-left: -200px;
  position: relative;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #af39e7;
}

.text-discounts-button {
  display: flex;
  width: 54px;
  height: 24px;
  border: none;
  margin-top: 20px;
  margin-left: -200px;
  position: relative;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #ea33c0;
}

.text-discounts {
  color: #f8fdfe;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

/* Синя іконка чату у правій нижній частині екрана повинна бути
зафіксована при скролі і виконана у вигляді кнопки. */
/* MESSAGE BUTTON */
.message_button {
  position: fixed;
  z-index: 3;
  margin-left: 1650px;
  margin-top: 320px;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 44px;
  background-color: #10bbd5;
}

/* SECOND BOOK CATALOG */

/* FIVE BOOK */
.book-smain_container {
  margin-left: 90px; /* 52px */
  margin-top: 124px;
  position: relative; /* Обязательно задайте позицию родителю */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 290px;
}

.book_five {
  width: 306px;
  height: 512px;
  z-index: 2;
  background-color: #fff;
  margin-left: 104px;
  margin-top: -295px;
  border: 1px solid #ccc;
}

.book_five img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

/* SIX BOOK */

.book_six {
  width: 306px;
  height: 512px;
  z-index: 2;
  background-color: #fff;
  margin-left: -60px;
  margin-top: -295px;
  border: 1px solid #ccc;
}

.book_six img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

/* SEVEN BOOK */
.book_seven {
  width: 306px;
  height: 512px;
  z-index: 2;
  background-color: #fff;
  margin-left: -220px;
  margin-top: -295px;
  border: 1px solid #ccc;
}

.book_seven img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

/* EIHHT BOOK */

.book_eight {
  width: 306px;
  height: 512px;
  z-index: 2;
  background-color: #fff;
  margin-left: -380px;
  margin-top: -295px;
  border: 1px solid #ccc;
}

.book_eight img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

/* THREE BOOK CATALOG */

/* NINE BOOK */
.book-tmain_container {
  margin-left: 90px; /* 52px */
  margin-top: 124px;
  position: relative; /* Обязательно задайте позицию родителю */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.book_nine {
  width: 306px;
  height: 512px;
  z-index: 2;
  background-color: #fff;
  margin-left: 104px;
  margin-top: -295px;
  border: 1px solid #ccc;
}

.book_nine img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

/* TEEN BOOK */
.book_teen {
  width: 306px;
  height: 512px;
  z-index: 2;
  background-color: #fff;
  margin-left: -60px;
  margin-top: -295px;
  border: 1px solid #ccc;
}

.book_teen img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

/* ELEVEN BOOK */

.book_eleven {
  width: 306px;
  height: 512px;
  z-index: 2;
  background-color: #fff;
  margin-left: -220px;
  margin-top: -295px;
  border: 1px solid #ccc;
}

.book_eleven img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

/* TWELVE BOOK */

.book_twelve {
  width: 306px;
  height: 512px;
  z-index: 2;
  background-color: #fff;
  margin-left: -380px;
  margin-top: -295px;
  border: 1px solid #ccc;
}

.book_twelve img {
  display: block;
  margin-top: 32px;
  margin-left: 32px;
  background-color: #fff;
  padding: 0px 32px 0px 32px;
  height: auto;
}

.discount_price {
  color: var(--gray, #8e8e8e);
  font-family: Cabin;
  text-decoration: line-through;
  margin-left: 140px;
  font-size: 24px;
  margin-top: -32px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
  text-decoration-line: strikethrough;
}

/* FOOTER */

footer {
  margin-top: 120px;
  width: 1841px;
  height: 88px;
  height: 88px;
  background-color: #4c394e;
}

.footer-container {
  display: flex;
}

.footer-first_text {
  color: var(--white, #f8fdfe);
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 33px;
  margin-left: 165px;
}

.footer-second_text {
  color: var(--white, #f8fdfe);
  font-family: Cabin;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  margin-top: 33px;
  margin-left: 1400px;
}
